/Exercicio1_ Sons_de_Animais/nbproject/private/
/Exercicio1_ Sons_de_Animais/build/
/Exercicio2 _Veiculos/nbproject/private/
/Exercicio2 _Veiculos/build/
/Exercicio3_Instrumentos_Musicais/nbproject/private/
/Exercicio3_Instrumentos_Musicais/build/